#pr-js-error-warn {
	padding: 0.5em;
	background-color: #FFCCCC;
	border: 2px solid #FF0000;
	margin-bottom: 0.5em;
	font-weight: bold;
	text-align: center;
}

#pr-formsection-preview {
	border: none;
	margin: 0;
	padding: 0;
}
#pr-formsection-preview legend {
	display: none;
}

div.separate-form-element {
	margin: 0.5em 0;
}

fieldset#pr-formsection-form-actions {
	padding: 0.5em;
	background-color: #F9F9F9;
	border: 1px solid #2F6FAB;
}
fieldset#pr-formsection-form-actions legend {
	display: none;
}
.pr-formbutton {
	clear: none;
	float: right;
	display: inline;
}

/* --- Ad preview list --- */
#mw-htmlform-ad-list {
	margin-left: 0.9em;
}
.pr-ad-list-element {
	margin: 0.25em 0 0.5em 0.25em;
}
.pr-ad-preview-div {
	border: 1px solid #A7D7F9;
	padding: 1em;
	margin-top: 0.5em;
}
#mw-htmlform-ad-list .mw-htmlform-field-HTMLCheckField {
	display: inline-block;
	float: left;
}
#mw-htmlform-ad-list .mw-label {
	display: none;
}

/* --- Archival --- */
.pr-archived-item {
	display: none;
}
