@import "mediawiki.mixins";

/* Copied verbatim from Helena/variables.less */
@color-blue: #4C728A;
@color-blue-bg-darker: #E4EBEF;
@color-blue-lighter: #427DA4;
@link-color-blue: @color-blue-lighter;
@link-hover-color-blue: darken(@link-color-blue, 15%);
/* /Copied */

@gallery-border: lighten( @color-blue, 25% );

.gallery-controls a {
	text-decoration: none !important;
	color: @link-color-blue;

	&:hover,
	&:focus,
	&:active,
	&.active {
		color: @link-hover-color-blue !important;
	}
}

.gallery-controls a + a {
	margin-left: 10px;
}

.promotion-gallery {
	margin-bottom: 20px;

	& > .gallery-controls {
		float: right;
	}

	& > .header {
		font-family: @heading-font-family;
		font-size: 19px;
		color: @color-blue;
	}
	.owl-carousel {
		background-color: @color-blue-bg-darker;
		padding: 10px;

		& > .owl-controls {
			display: none;
		}
	}

	.owl-item {
		border-right: 2px solid @gallery-border;
		padding: 5px 10px 0;

		&:first-child {
			border-left: 2px solid @gallery-border;
		}
	}

	.promotion {
		background-color: transparent;

		/*
		&:first-child {
			border-left: 2px solid #9eb0bc;
		}
		*/

		& > .header {
			color: @color-blue;

			& > .caption {
				font-size: 16px;
			}
			& > .icon {
				display: none;
			}
		}
	}
}

